*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/mipmap-hdpi/ic_logo_launcher.png
/app/src/main/res/mipmap-mdpi/ic_logo_launcher.png
/app/src/main/res/mipmap-xhdpi/ic_logo_launcher.png
/app/src/main/res/mipmap-xxhdpi/ic_logo_launcher.png
/app/src/main/res/mipmap-xxxhdpi/ic_logo_launcher.png
/app/src/main/ic_logo_launcher-playstore.png
/app/src/main/res/mipmap-hdpi/ic_logo_launcher_foreground.png
/app/src/main/res/mipmap-mdpi/ic_logo_launcher_foreground.png
/app/src/main/res/mipmap-xhdpi/ic_logo_launcher_foreground.png
/app/src/main/res/mipmap-xxhdpi/ic_logo_launcher_foreground.png
/app/src/main/res/mipmap-xxxhdpi/ic_logo_launcher_foreground.png
/app/src/main/res/mipmap-hdpi/ic_logo_launcher_round.png
/app/src/main/res/mipmap-mdpi/ic_logo_launcher_round.png
/app/src/main/res/mipmap-xhdpi/ic_logo_launcher_round.png
/app/src/main/res/mipmap-xxhdpi/ic_logo_launcher_round.png
/app/src/main/res/mipmap-xxxhdpi/ic_logo_launcher_round.png
